In [1]:
# import pandas
import pandas as pd

In [2]:
#creating dataframe
employees = {
    "Name" : ['Jon Snow', 'Ross Gellar', 'Ragnar Loathbroke', 'Thomas Shelby','Adil Qadri','Chikni Chameli','Genduji Mahaprabhu','Linon Kumar Ghosh'],
    "Age" : [25,32,55,35,50,18,25,15],
    "City": ['Westros', 'New York', 'Scandanavia', 'London','Maqsadnagar','Sheelapur','Chakdaha','Shimurali'],
    "Salary" : [50000,30000,40000,25000,12000,52000,51000,23000],
    "Performance Score" : [25,30,26,10,30,26,29,26]
}

df = pd.DataFrame(employees)

In [3]:
# saving the data in the form of csv, excel and json files
df.to_csv('mydataframe.csv',index=False)
df.to_excel('mydataframe.xlsx',index=False)
df.to_json('mydataframe.json',index=False)

In [4]:
# knowing the shape of the data (number of rows and columns)
shape = df.shape
print(f"NUMBER OF ROWS AND COLUMNS :")
print('')
print(shape)

NUMBER OF ROWS AND COLUMNS :

(8, 5)

In [5]:
# knowing the names of the columns 
column_names = df.columns
print(f"NAME OF THE COLUMNS :")
print('')
print(column_names)

NAME OF THE COLUMNS :

Index(['Name', 'Age', 'City', 'Salary', 'Performance Score'], dtype='object')

In [6]:
# knowing the data information
information = df.info()
print('DATA INFORMATION')
print('')
print(information)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               8 non-null      object
 1   Age                8 non-null      int64
 2   City               8 non-null      object
 3   Salary             8 non-null      int64
 4   Performance Score  8 non-null      int64
dtypes: int64(3), object(2)
memory usage: 452.0+ bytes
DATA INFORMATION

None

In [7]:
# knowing the descriptive statistics of the data
stats = df.describe()
print('DESCRIPTIVE STATISTICS')
print('')
print(stats)

DESCRIPTIVE STATISTICS

             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   31.875000  35375.000000          25.250000
std    14.367001  15080.143046           6.475228
min    15.000000  12000.000000          10.000000
25%    23.250000  24500.000000          25.750000
50%    28.500000  35000.000000          26.000000
75%    38.750000  50250.000000          29.250000
max    55.000000  52000.000000          30.000000

#### RETRIEVING 
1. Select specific columns
2. Filter rows
3. Combine multiple conditions