In [60]:
# import pandas
import pandas as pd

In [61]:
#creating dataframe
employees = {
    "Name" : ['Jon Snow', 'Ross Gellar', 'Ragnar Loathbroke', 'Thomas Shelby','Adil Qadri','Chikni Chameli','Genduji Mahaprabhu','Linon Kumar Ghosh','Panda Biswas','Tarini Charan Barujje'],
    "Age" : [25,32,55,35,50,18,25,15,69,69],
    "City": ['Westros', 'New York', 'Scandanavia', 'London','Maqsadnagar','Sheelapur','Chakdaha','Shimurali','Pompom land','Dholakpur'],
    "Salary" : [50000,30000,40000,25000,12000,52000,51000,23000,69000,70000],
    "Performance Score" : [99,70,85,42,51,98,95,90,58,77]
}

df = pd.DataFrame(employees)

In [62]:
print(df)

                    Name  Age         City  Salary  Performance Score
0               Jon Snow   25      Westros   50000                 99
1            Ross Gellar   32     New York   30000                 70
2      Ragnar Loathbroke   55  Scandanavia   40000                 85
3          Thomas Shelby   35       London   25000                 42
4             Adil Qadri   50  Maqsadnagar   12000                 51
5         Chikni Chameli   18    Sheelapur   52000                 98
6     Genduji Mahaprabhu   25     Chakdaha   51000                 95
7      Linon Kumar Ghosh   15    Shimurali   23000                 90
8           Panda Biswas   69  Pompom land   69000                 58
9  Tarini Charan Barujje   69    Dholakpur   70000                 77

In [63]:
# saving the data in the form of csv, excel and json files
df.to_csv('mydataframe.csv',index=False)
df.to_excel('mydataframe.xlsx',index=False)
df.to_json('mydataframe.json',index=False)

In [64]:
# knowing the shape of the data (number of rows and columns)
shape = df.shape
print(f"NUMBER OF ROWS AND COLUMNS :")
print('')
print(shape)

NUMBER OF ROWS AND COLUMNS :

(10, 5)

In [65]:
# knowing the names of the columns 
column_names = df.columns
print(f"NAME OF THE COLUMNS :")
print('')
print(column_names)

NAME OF THE COLUMNS :

Index(['Name', 'Age', 'City', 'Salary', 'Performance Score'], dtype='object')

In [66]:
# knowing the data information
print('DATA INFORMATION')
print('')
print(df.info())

DATA INFORMATION

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               10 non-null     object
 1   Age                10 non-null     int64
 2   City               10 non-null     object
 3   Salary             10 non-null     int64
 4   Performance Score  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None

In [67]:
# knowing the descriptive statistics of the data
stats = df.describe()
print('DESCRIPTIVE STATISTICS')
print('')
print(stats)

DESCRIPTIVE STATISTICS

             Age        Salary  Performance Score
count  10.000000     10.000000          10.000000
mean   39.300000  42200.000000          76.500000
std    20.138686  19594.783886          20.522346
min    15.000000  12000.000000          42.000000
25%    25.000000  26250.000000          61.000000
50%    33.500000  45000.000000          81.000000
75%    53.750000  51750.000000          93.750000
max    69.000000  70000.000000          99.000000

### RETRIEVING 
#### 1. Select specific columns
#### 2. Filter rows
#### 3. Combine multiple conditions

#### SELECTING COLUMNS :
- SERIES (SINGLE COLUMN)
    - column = df['column name']
- DATAFRAME (MULTIPLE COLUMNS)
    - multi_column = df[['column1', 'column2', 'column3',......]]

In [68]:
# selecting single column 
name = df['Name']
print("'NAME' COLUMN :")
print('')
print(name)

'NAME' COLUMN :

0                 Jon Snow
1              Ross Gellar
2        Ragnar Loathbroke
3            Thomas Shelby
4               Adil Qadri
5           Chikni Chameli
6       Genduji Mahaprabhu
7        Linon Kumar Ghosh
8             Panda Biswas
9    Tarini Charan Barujje
Name: Name, dtype: object

In [69]:
# selecting multiple columns
name_salary = df[['Name','Salary']]
print("'NAME' AND 'SALARY' COLUMNS :")
print('')
print(name_salary)

'NAME' AND 'SALARY' COLUMNS :

                    Name  Salary
0               Jon Snow   50000
1            Ross Gellar   30000
2      Ragnar Loathbroke   40000
3          Thomas Shelby   25000
4             Adil Qadri   12000
5         Chikni Chameli   52000
6     Genduji Mahaprabhu   51000
7      Linon Kumar Ghosh   23000
8           Panda Biswas   69000
9  Tarini Charan Barujje   70000

#### FILTERING ROWS :
- BASED ON SINGLE CONDITION
    - filtered_rows = df [df["Salary"] > 50000]
- BASED ON MULTIPLE CONDITION (AND)
    - df [(df ["salary"] > 50000) & (df ["salary"] > 80000)]
- BASED ON MULTIPLE CONDITION (OR)
    - df [(df ["salary"] > 50000) | (df ["salary"] > 80000)]

In [70]:
# filtering rows on the basis of single condition 
high_salary = df[df['Salary'] > 35000]
print("EMPLOYEES WITH HIGH SALARY")
print('')
print(high_salary)

EMPLOYEES WITH HIGH SALARY

                    Name  Age         City  Salary  Performance Score
0               Jon Snow   25      Westros   50000                 99
2      Ragnar Loathbroke   55  Scandanavia   40000                 85
5         Chikni Chameli   18    Sheelapur   52000                 98
6     Genduji Mahaprabhu   25     Chakdaha   51000                 95
8           Panda Biswas   69  Pompom land   69000                 58
9  Tarini Charan Barujje   69    Dholakpur   70000                 77

In [71]:
#  filtering rows on the basis of multiple conditions (usidng AND)
high_salary_and_performance_score = df[(df['Salary'] > 35000) & (df['Performance Score'] > 25)]
print("EMPLOYEES WITH HIGH SALARY AND HIGH PERFORMANCE SCORE")
print('')
print(high_salary_and_performance_score)

EMPLOYEES WITH HIGH SALARY AND HIGH PERFORMANCE SCORE

                    Name  Age         City  Salary  Performance Score
0               Jon Snow   25      Westros   50000                 99
2      Ragnar Loathbroke   55  Scandanavia   40000                 85
5         Chikni Chameli   18    Sheelapur   52000                 98
6     Genduji Mahaprabhu   25     Chakdaha   51000                 95
8           Panda Biswas   69  Pompom land   69000                 58
9  Tarini Charan Barujje   69    Dholakpur   70000                 77

In [72]:
# filtering rows on the basis of multiple conditions (using OR)
high_salary_or_low_age = df[(df['Salary'] > 50000) | (df['Age'] < 30)]
print("EMPLOYEES WITH HIGH SALARY OR YOUNG AGED")
print('')
print(high_salary_or_low_age)

EMPLOYEES WITH HIGH SALARY OR YOUNG AGED

                    Name  Age         City  Salary  Performance Score
0               Jon Snow   25      Westros   50000                 99
5         Chikni Chameli   18    Sheelapur   52000                 98
6     Genduji Mahaprabhu   25     Chakdaha   51000                 95
7      Linon Kumar Ghosh   15    Shimurali   23000                 90
8           Panda Biswas   69  Pompom land   69000                 58
9  Tarini Charan Barujje   69    Dholakpur   70000                 77